/* Universal styling */
* {
    box-sizing: border-box;
    max-width: 100%;
}

/* Styling for body */
body {
    padding: 10px;
    background-color: #f7f8e3;
}

/* Styling for header's heading */
.header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    text-align: center;
} 

/* Styling for header's navigation bar */
.header nav{
    background:rgb(173, 126, 68);
    overflow: hidden;
}

/* Styling for links inside navigation bar */
.header nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px;
}

/* To change the color of links when hovering */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Styling for current link in navigation bar */
.header a.active {
    background-color: #c7b133;
    color: white;
}

/* Styling for image in header */
.header img {
    margin-top: 10px;
}

/* Meet the members container */
.main-container {
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
}

/* Meet the members flex item */
.main-flex {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Images container */
.img-container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Styling Meet the members Image */
.member-image {
    display: block;
    width: 100%;
    height: 100%;
}

/* Overlay effect for their names */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid;
}

/* Styling for hovering image */
.img-container:hover .overlay {
    opacity: 1;
}

/* Styling for all heading 3 */
h2 {
    font-size: 35px;
}

/* Styling for all heading 4 */
h4 {
    font-size: 35px;
}

/* Albums images with 3D Flip Image with Text */
/* Album Flip Image Container */
.flip-image {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;   /* To show the flip itself goes out of the box on hover */
    perspective: 1000px;   /* For 3D effect */
}

/* To position the front and back side */
.flip-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* For horizontal flip when move the mouse over the flip image container */
.flip-image:hover .flip-image-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-image-front, .flip-image-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Style the front side */
.flip-image-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-image-back {
    background-color: rgb(207, 151, 81);
    color: white;
    transform: rotateY(180deg);
}

/* Styling for paragraph */
p {
    color: white;
    padding: 12px;
}

/* Styling for video  */
video {
    width: 75%;
    height: 70%;
    
}

/* Album section container */
.a-container {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap;
}

/* Flex item for Album section container */
.a-flex {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;

    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E2D48E;
}
/* Styling for footer */
footer {
    background-color: rgb(173, 126, 68);
    font-size: 18px;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}